<div class="row justify-content-center">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold ">Operações</h3>
    </div>

    <table class="table table-responsive table-bordered table-hover">
      <thead>
      <tr>
        <th>Conta</th>
        <th>Balanço</th>
        <th>Ações</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= @accounts.account_number %></td>
        <td><%= @accounts.balance %></td>
        <td>
          <div class="container-fluid">
            <%= link_to 'Saque ou Déposito', new_transaction_path(:id => @accounts.id), class: 'btn btn-info' %>
            <%= link_to 'Transferência', transference_new_path(:id => @accounts.id), class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>